<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="js/scripts.js"></script>
    <title>Downloaded Songs - YMUSICDL</title>
</head>

<body>
    <div class="infoDiv" id="infoDiv">
        <p id="infoMessage">MESSAGE</p>
    </div>
    <div id="songModal" class="songModal">
        <div class="mainModal">
            <h1 id="songTitleHeader">{SONGTITLE}</h1>
            <img src="img/placeholderArt.png" id="songAlbumArt" alt="Album Art" class="albumArt"><br>
            <button class="changeArt" id="changeArt">Change</button><br>
            <label for="songTitle">Title </label>
            <input type="text" name="songTitle" id="songTitle"><br>
            <label for="songArtist">Artist </label>
            <input type="text" name="songArtist" id="songArtist"><br>
            <label for="songAlbum">Album </label>
            <input type="text" name="songAlbum" id="songAlbum"><br>
            <label for="songYear">Year </label>
            <input type="text" name="songYear" id="songYear"><br>


            <button onclick="closeModal()" class="modalButtons" id="discardButton">Discard</button>
            <button class="modalButtons" id="saveButton">Save + Close</button>
        </div>
    </div>

    <div style="display: none;" id="settingsModal" class="settingsModal">
        <div class="mainModal">
            <h2 class="center">Settings</h2>
            <form>
                <label for="songDownloadPath">Song Download Path:</label>
                <input type="text" id="txt_songDownloadPath" name="txt_songDownloadPath" value="{{songDownloadPath}}">
                <label for="cb_normalizeAudio">Normalize Audio Levels:</label>
                <input type="checkbox" id="cb_normalizeAudio" name="cb_normalizeAudio" value="{{audioBoolean}}"><br>
                <label for="nb_normalizeAudioDB">Audio Level:</label>
                <input type="number" id="nb_normalizeAudioDB" name="nb_normalizeAudioDB" value="{{audioNumber}}"><br>
                <button type="button" id="settingsSaveButton">Save</button>
            </form>
        </div>
    </div>

    <div class="sidebar">
        <a class="backButton" href="/">Back To Downloader</a>
        <h1>YMusicDL</h1>
        <input type="text" name="songName" id="songName">
        <button id="settingsButton" onclick="openSettingsModal()">Settings</button>
    </div>

    <div id="songsList" class="songslist">
    </div>
    <script src="/js/editor.js"></script>
</body>

</html>